<div class="container" style="height: 100%;">
    <div class="homepage-toolbar">
        <mat-toolbar color="primary">
            <div class="language-selection">
                <a *ngFor="let l of languagesAvailable" href={{l.href}}
                    [ngClass]="l.selected ? 'inactive' : 'active'">
                    <span class="{{l.flag}}" (click)="changeLanguage(l.locale)"></span>
                </a>
            </div>
            <span class="example-spacer"></span>
            <mat-divider vertical class="section-divider"></mat-divider>
            <a download href="assets/Joao_Fernandes_CV.pdf"> <button mat-raised-button color="accent">
                    <mat-icon>file_download</mat-icon>
                    Download CV
                </button></a>
        </mat-toolbar>
    </div>

    <div class="main-container" style="height: 100%;">
        <router-outlet></router-outlet>
    </div>
</div>