<mat-toolbar color="primary" class="spacer" style="font-size: 14px;">

    <span class="spacer"></span>

    <div class="" fxLayout="column" fxLayoutAlign="center center">
        <div>
            © 2020-2021 João Fernandes.
        </div>
        <div>
            Powered by Angular.
        </div>
    </div>

    <span class="spacer"></span>

    <div fxLayout fxLayoutGap="10px">
        <div>
            <a href="https://www.linkedin.com/in/joaofernandes450/">
                <button mat-icon-button color="accent" matTooltip="LinkedIn" matTooltipPosition="below">
                    <mat-icon><span class="fab fa-linkedin" aria-hidden="true"></span></mat-icon>
                </button>
            </a>
        </div>
        <div>
            <a href="https://github.com/joaofernandes450">
                <button mat-icon-button color="accent" matTooltip="GitHub" matTooltipPosition="below">
                    <mat-icon><span class="fab fa-github" aria-hidden="true"></span></mat-icon>
                </button>
            </a>
        </div>
        <div>
            <a href="mailto:joao.fernandes450dev@gmail.com">
                <button mat-icon-button color="accent" matTooltip="Email" matTooltipPosition="below">
                    <mat-icon><span class="fas fa-envelope" aria-hidden="true"></span></mat-icon>
                </button>
            </a>
        </div>
    </div>
</mat-toolbar>