.information-section {
    background-image: url("https://images.pexels.com/photos/355770/pexels-photo-355770.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
}

mat-card {
    text-align: center;
    background: none;
}

mat-list {
    display: inline-block;
}

.avatar {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-top: -125px !important;
    margin-bottom: 25px;
}

.mat-list-icon {
    color: rgb(100, 100, 100);
  }

.icon-align {
    display: inline-flex; 
    vertical-align: middle;
    margin-right: 5px;
}

mat-card-footer {
    display: flex;
    justify-content: center;
}

.section-container {
    width: 80%;
    max-width: 100%;
}

.section-header {
    /**margin-top: 40px;*/
}

.example-card {
    max-width: 300px;
}
  
.card-avatar {
    background-size: cover;
}


mat-list {
    width: 100%;
}

mat-list-item mat-icon i {
    width: 24px;
    height: 24px;
}

.progress-bar-container {
    width: 100%;
    margin-left: 25px;
}

.progress-bar-container mat-progress-bar {
    margin: 0 10px;
}

.favorite-stack-container img {
    max-width: 300px;
    height: 150px;
}

.mat-card-avatar:hover {
    cursor: pointer;
}